# Port Variables
BACKEND_PORT=8080
FRONTEND_PORT=5173
DB_PORT=5432

# Database Variables
POSTGRES_DB=t2fdb
POSTGRES_USER=t2fuser
POSTGRES_PASSWORD=t2fpass

# BACKEND VARIABLES
SPRING_APPLICATION_NAME=time2focus
SPRING_DATASOURCE_URL=jdbc:postgresql://db:${DB_PORT}/${POSTGRES_DB}
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

SPRING_JPA_HIBERNATE_DDL_AUTO=validate
#SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=${BACKEND_PORT}

# BACKEND LOGS PATH 
#BACKEND_LOGS_DIR=PATH/TO/LOGS/ON/HOST

# DO NOT CHANGE THE PATH
LOGGING_FILE_NAME=/app/logs/time2focus.log

# LOGS VARAIBLES
LOGGING_FILE_NAME=logs/time2focus.log
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_APP=DEBUG
LOGGING_PATTERN_CONSOLE=%d{yyyy-MM-dd HH:mm:ss} %-5level [%X{traceId}] %logger{36} - %msg%n
LOGGING_PATTERN_FILE=%d{yyyy-MM-dd HH:mm:ss} %-5level [%X{traceId}] %logger{36} - %msg%n
LOGGING_ROLLING_MAX_FILE_SIZE=20MB
LOGGING_ROLLING_MAX_HISTORY=30
LOGGING_ROLLING_TOTAL_SIZE_CAP=2GB
LOGGING_ROLLING_CLEAN_HISTORY_ON_START=false

# BACKEND CORS VARIABLE
APP_CORS_ALLOWED_ORIGINS=http://localhost:${FRONTEND_PORT},http://127.0.0.1:{FRONTEND_PORT}

# FLYWAY SETTINGS
APP_FLYWAY_ENABLED=true
APP_FLYWAY_CALLBACKLOCATION=classpath:db/migration


