BACKEND_PORT=8080
FRONTEND_PORT=3000
DB_PORT=5432

POSTGRES_DB=t2fdb
POSTGRES_USER=t2fuser
POSTGRES_PASSWORD=t2fpass


BACKEND_LOGS_DIR=/$HOME/time2focus/logs/backend
LOGGING_FILE_NAME=/app/logs/time2focus.log
