SPRING_APPLICATION_NAME=time2focus

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/t2fdb
SPRING_DATASOURCE_USERNAME=t2fuser
SPRING_DATASOURCE_PASSWORD=t2fpass

SPRING_JPA_HIBERNATE_DDL_AUTO=validate
#SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
