SPRING_APPLICATION_NAME=time2focus

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/t2fdb
SPRING_DATASOURCE_USERNAME=t2fuser
SPRING_DATASOURCE_PASSWORD=t2fpass

SPRING_JPA_HIBERNATE_DDL_AUTO=validate
#SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

LOGGING_FILE_NAME=logs/time2focus.log
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_APP=DEBUG
LOGGING_PATTERN_CONSOLE=%d{yyyy-MM-dd HH:mm:ss} %-5level [%X{traceId}] %logger{36} - %msg%n
LOGGING_PATTERN_FILE=%d{yyyy-MM-dd HH:mm:ss} %-5level [%X{traceId}] %logger{36} - %msg%n
LOGGING_ROLLING_MAX_FILE_SIZE=20MB
LOGGING_ROLLING_MAX_HISTORY=30
LOGGING_ROLLING_TOTAL_SIZE_CAP=2GB
LOGGING_ROLLING_CLEAN_HISTORY_ON_START=false

APP_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
